<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704785699055-1d5vrq63l1dg41sjlfd8bv4qease4pub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704785699055-1d5vrq63l1dg41sjlfd8bv4qease4pub</string>
	<key>API_KEY</key>
	<string>AIzaSyDuNkmvSkL9-ISf-4aoTXMBg4hE2jO5dSM</string>
	<key>GCM_SENDER_ID</key>
	<string>704785699055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>hrproject-ee215</string>
	<key>STORAGE_BUCKET</key>
	<string>hrproject-ee215.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704785699055:ios:97669ded2aef8bc85bcb1a</string>
</dict>
</plist>